<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="ISO-8859-1">
	<title>Classroom Copy</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/classroom-registration/all-classrooms}">Classroom Copy</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul style="float: right;" class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1>Copy from google classroom</h1>

		<div>
			<a class="btn btn-primary" href="#" th:href="@{/classroom-registration}">new classroom</a>
		</div>
		or
		<br>
		Join an existing classroom
		<input type="text">
		<div>
			<a class="btn btn-primary" href="#" th:href="@{/classroom-registration}">enter</a>
		</div>
		<br>
		<br>
		<br>
		Your classrooms
		<div style="display: flex;">
			<div data-th-each="classroom : ${classrooms}" style="border: 1px solid; border-radius: 10px; margin-right: 5px;">
				<div class="card" style="width: 18rem; display: flex; align-items: center; justify-content: center; padding: 5px;">
					<div class="card-body" style="align-items: center; justify-content: center;">
						<h5 class="card-header" data-th-text="${classroom.id}"></h5>
						<p class="card-text" data-th-text="${classroom.label}"></p>
						<a href="#" th:href="@{'/classroom-registration/classroom-info/' + ${classroom.id}}" class="btn btn-primary">go to the classroom</a>
					</div>
				</div>
			</div>
		</div>



	</div>
</body>

</html>